@media screen and (min-width: 768px) {
    .container {

        display: grid;

        grid-template-rows: 1fr 4fr 2fr;

        margin: 0;
    }

    .header {

        grid-row: 1/2;
        display: grid;
        align-content: center;
        justify-content: center;
        background-color: gray;

    }

    .center {
        display: grid;
        grid-template-columns: 2fr 1fr;



    }

    .main {
        display: grid;
        /* grid-column: 1/2;
        grid-row: 1/2; */
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        background: peachpuff;

    }

    .mainpart {
        display: grid;
        grid-column: 1/3;
        grid-row: 2/3;
        justify-content: center;
        align-content: center;
        margin: auto;
    }

    .more {
        display: grid;
        grid-row: 3/4;
        grid-column: 1/3;
        margin-left: 6vw;
        margin-right: 6vw;
    }

    .more1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1/3;
        grid-row: 3/4;
        margin-left: 1vw;
        margin-right: 1vw;
        padding: 1%;
    }

    .more2 {
        display: grid;
        margin: 1%;
        background: orange;
        justify-content: center;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .more3 {
        display: grid;

        grid-column: 1/3;
        grid-row: 4/5;
        background: orange;
        margin: 3%;
        justify-content: center;
        padding-top: 2%;
        padding-bottom: 1%;

    }



    .aside {
        display: grid;
        grid-column: 2/3;
        padding-top: 2vh;
        justify-content: center;
        background: rgb(57, 226, 57);
    }

    .footer {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        grid-gap: 10%;
        background-color: rgb(226, 226, 226);
        justify-content: space-around;
        padding-right: 3%;
        padding-left: 3%;

    }

    .f1 {

        display: grid;
        background: white;
        align-items: center;
        justify-content: center;
        margin-left: 3%;
        margin-top: 25%;
        margin-bottom: 25%;
        padding: 10% 5% 10% 5%;

    }
}



@media screen and (max-width: 767px) {



    .container {

        display: grid;

        grid-template-rows: 0.5fr 3fr 1fr;

        margin: 0;
    }

    .header {

        grid-row: 1/2;
        display: grid;
        align-content: center;
        justify-content: center;
        background-color: gray;

    }

    .center {
        display: grid;
        grid-template-rows: 1fr 1fr;



    }

    .main {
        display: grid;
        /* grid-column: 1/2; */
        grid-row: 1/2;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        background: peachpuff;

    }

    .mainpart {
        display: grid;
        grid-column: 1/3;
        grid-row: 2/3;
        justify-content: center;
        align-content: center;
        margin: auto;
    }

    .more {
        display: grid;
        grid-row: 3/4;
        grid-column: 1/3;
        margin-left: 6vw;
        margin-right: 6vw;
    }

    .more1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1/3;
        grid-row: 3/4;
        /* margin-left: 4vw;
        margin-right: 4vw; */
        padding: 1%;
        grid-gap: 10vw;
    }

    .more2 {
        display: grid;

        background: orange;
        justify-content: center;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .more3 {
        display: grid;

        grid-column: 1/3;
        grid-row: 4/5;
        background: orange;
        margin-top: 3%;
        margin-bottom: 3%;
        justify-content: center;
        padding-top: 2%;
        padding-bottom: 1%;
        margin-left: 1vw;
        margin-right: 1vw;

    }



    .aside {
        display: grid;
        grid-row: 2/3;
        padding-top: 2vh;
        justify-content: center;
        background: rgb(57, 226, 57);
    }

    .footer {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10%;
        background-color: rgb(226, 226, 226);
        justify-content: space-around;
        padding-right: 3%;
        padding-left: 3%;
        padding-bottom: 5%;
    }

    .f1 {

        display: grid;
        background: white;
        align-items: center;
        justify-content: center;
        margin-left: 3%;
        margin-top: 15%;
        margin-bottom: 15%;
        padding: 10% 5% 10% 5%;

    }


}