body {
    font-family: 'Montser', serif;
    /* min-width: 100%; */
    margin: 2%;
}

a {
    text-decoration: none;
    color: teal;
}

a:hover {
    color: thistle;
}

.container {
    display: grid;
    grid-template-rows: 3fr 1fr 2fr 4fr 3fr 2fr;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* img {
    width: 100%;
} */

.headertext {
    display: grid;
    grid-template-rows: 1fr 4fr 2fr;

}

.headernav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: end;
    align-items: center; */

}

.headernav1 {
    display: grid;
    grid-column: 2/3;
    grid-template-columns: repeat(4, 1fr);


}



.nav {
    display: grid;
    /* grid-column: 2/3; */
    justify-content: end;
    margin-top: 1vh;
    align-items: flex-start;
}

div.nav.sign {
    color: #156963;
}

button {
    background: #156963;
    color: white;
    padding: 1% 25% 7% 25%;

}


@media screen and (max-width: 480px) {
    body {}

}

/* @media screen and (min-width: 481px) and (max-width: 768px) {}

@media screen and (min-width: 769px) and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1200) {}

@media screen and (min-width: 1201) {}




320 480 768 980 1200 1400 */